@page
@model ScriptureJournal_Cole.Pages.IndexModel
@{
    ViewData["Title"] = "Home page";
}
<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Feel free to store your favorite scriptures here at my site!</p>
</div>